@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        color: var(--color-foreground);
        /* overflow-x: hidden; */
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
    }
}

@layer utilities {
    .container {
        @media (width >= 96rem) {
            max-width: 80rem;
        }
    }
}

@theme {
    --color-primary: #4640DE;
    /* Accent/Blue */
    --color-accent: #26A4FF;
    /* Neutrals/100 */
    --color-foreground: #25324B;
    /* Neutrals/60 */
    --color-muted: #7C8493;
    /* Neutrals/80 */
    --color-secondary: #515B6F;
    --color-footer: #202430;
}
